<div class="sidebar-wrapper">
    <div class="nav-container">
      <div class="row">
        <div class="col-xs-2">
          <ul class="nav nav-list">
              <li>
                <a class="list-group-item">
                  <i class="menu-icon fa fa-tachometer"></i> Dashboard
                </a>
              </li>
              <li>
                <a class="list-group-item">
                  <i class="menu-icon fa fa-desktop"></i> UI & Elements
                </a>
              </li>
              <li>
                <a class="list-group-item">
                  <i class="menu-icon fa fa-list"></i> Tables
                </a>
              </li>
              <li>
                <a class="list-group-item">
                 <i class="menu-icon fa fa-list-alt"></i> Forms
                </a>
             </li>
              <li>
                <a class="list-group-item">
                 <i class="menu-icon fa fa-list"></i> Widgets
                </a>
             </li>
              <li>
                <a class="list-group-item">
                 <i class="menu-icon fa fa-calendar-o"></i> Calendar
                </a>
             </li>
              <li>
                <a class="list-group-item">
                 <i class="menu-icon fa fa-picture-o"></i> Gallery
                </a>
             </li>
              <li>
                <a class="list-group-item">
                 <i class="menu-icon fa fa-tag"></i> More Pages
                </a>
             </li>
              <li>
                <a class="list-group-item">
                 <i class="menu-icon fa fa-file-o"></i> Other Pages
                </a>
             </li>

          </ul>
        </div>
      </div>
    </div>
</div>
